<center><h1>Informações Cliente</h1>
    <table border="1" width="50%" height="10%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Data/Hora</th>
                <th>Custo Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{nome_cliente.cliente.nome}}</td>
                <td>{{nome_cliente.cliente.email}}</td>
                <td>{{nome_cliente.data_hora}}</td>
                <td>{{custo_total}}</td>
             </tr>
        
        </tbody>
    </table>
    </center>